.icon-edit{
    color: #298A08;
}

.icon-delete{
    color:#DF0101;
}

.abs-card{
    min-width: 80%;
    max-width: 21.5rem;
    height: 100vh;
}

.scrollable{
    overflow-y: auto;
    max-height: 88%;
}