<app-navbar></app-navbar>
<section class="container my-3">
    <h2 class="text-center my-5">Edit yout serie</h2>
    <div class="container abs-center mx-auto mb-4"> 
        <form #editSerieForm="ngForm" class="abs-form container"(submit)="update()">
            <div class="form-group">
                <label for="name">Name: </label>
                <input class="form-control" type="text" [(ngModel)]="serie.name" name="name" readonly>
            </div>
            <div class="form-group">
                <label for="description">Description: </label>
                <textarea class="form-control overflow-auto" [(ngModel)]="serie.description" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="author">Image (add a link, not files for now): </label>
                <input class="form-control" type="text" [(ngModel)]="serie.image" name="image">
            </div>
            <div class="form-group">
                <label for="author">Author: </label>
                <input class="form-control" type="text" [(ngModel)]="serie.author" name="author">
            </div>
            <button class="btn-primary p-3 rounded my-2" type="submit">Update serie</button>
        </form>
    </div>
</section> 