@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;500&display=swap');
@import '~ngx-toastr/toastr';
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome";

$font-family-sans-serif: 'Noto Sans JP', sans-serif;
$gradient-primary: linear-gradient(rgba(102, 51, 0, 0.6), rgba(153,102,51,0.2));
$primary: #5A5352;

.btn-primary{
  background-color: $primary !important;
  border: $primary !important;
}

textarea{
   min-height: 100px;
 }

 img{
   width: 100%;
   max-height: auto;
 }

h1{
  /* Extra small devices (phones, less than 768px) */
  font-size: 2.5rem;
}
h2{
  /* Extra small devices (phones, less than 768px) */
  font-size: 1.563rem;
}
h3{
  /* Extra small devices (phones, less than 768px) */
  font-size: 1.25rem;
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px){
  h1{
    font-size: 4.063rem;
  }
  h2{
    font-size: 1.875rem;
  }
  h3{
    font-size: 2.032rem;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px){
  h1{
    font-size: 4.375rem;
  }
  h2{
    font-size: 2.188rem;
  }
  h3{
    font-size: 2.188rem;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 2.813;
  }
  h3{
    font-size: 2.5rem;
  }
}